{% extends "app_base.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages/accounts.css' %}">
{% endblock %}
{% block page_content %}
<div class="profile-main">
    <h1 class="profile-title">Профиль</h1>
    <form method="post" class="profile-form" novalidate>
        {% csrf_token %}

        <div class="profile-section">
            <div class="profile-field-group">
                <label for="{{ form.first_name.id_for_label }}">Имя</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="profile-field-group">
                <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
        </div>

        <div class="profile-section">
            <div class="profile-field-group">
                <label for="{{ form.email.id_for_label }}">Почта</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="profile-field-group">
                <label for="{{ form.phone_number.id_for_label }}">Телефон</label>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>
        </div>

        <div class="profile-section">
            <div class="profile-field-group">
                <label for="{{ form.username.id_for_label }}">Логин</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
        </div>

        <div class="profile-section">
            <div class="profile-field-group">
                <label for="{{ form.new_password.id_for_label }}">Новый пароль</label>
                {{ form.new_password }}
                <div class="profile-help-text">{{ form.new_password.help_text }}</div>
                {{ form.new_password.errors }}
            </div>
            <div class="profile-field-group">
                <label for="{{ form.confirm_password.id_for_label }}">Подтвердите пароль</label>
                {{ form.confirm_password }}
                {{ form.confirm_password.errors }}
            </div>
        </div>

        <div class="profile-actions">
            <button type="submit" class="profile-save-btn">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}
